[mysqld]

# General replication settings
gtid_mode = ON
enforce_gtid_consistency = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
binlog_checksum = NONE
log_slave_updates = ON
log_bin = binlog
binlog_format = ROW
transaction_write_set_extraction = XXHASH64
loose-group_replication_bootstrap_group = OFF
loose-group_replication_start_on_boot = OFF
loose-group_replication_ssl_mode = REQUIRED
loose-group_replication_recovery_use_ssl = 1

# Shared replication group configuration
loose-group_replication_group_name = "73355bec-b9d6-4c33-b1a7-36b73bc2b4d3"
loose-group_replication_ip_whitelist = "172.25.0.2, 172.25.0.4, 172.25.0.3"
loose-group_replication_group_seeds = "172.25.0.2:33061, 172.25.0.4:33062, 172.25.0.3:33063"

# Single or Multi-primary mode? Uncomment these two lines
# for multi-primary mode, where any host can accept writes
#loose-group_replication_single_primary_mode = OFF
#loose-group_replication_enforce_update_everywhere_checks = ON

# Host specific replication configuration
server_id = 1
bind-address = "172.25.0.2"
report_host = "172.25.0.2"
loose-group_replication_local_address = "172.25.0.2:33061"